<html>
	<body ng-app ="hcmBetaGruntApp" ng-controller="HomeCtrl">
	<div ng-show="flag1">
		<button ng-click="queryDynamoDb()" >Click to view your reportees</button>
	</div>
	<div ng-show="flag2">
	Your Reportees are below: 
		<table>
			<tr><td>AA#</td><td>Role</td><td>Name</td></tr>
			<tr data-ng-repeat="x in reportees">
				<td>{{ x.id }}</td>
				<td>{{x.name }}</td>
				<td>{{ x.role }}</td>
			</tr>
		</table>
		<a href="#/" class="right">Logout</a>
	</div>
		<style>
			table, th , td {
			border: 1px solid grey;
			border-collapse: collapse;
			padding: 5px;
			}
			table tr:nth-child(odd) {
			background-color: #f1f1f1;
			}
			table tr:nth-child(even) {
			background-color: #ffffff;
			}
			.right {
				position: absolute;
				right: 0px;
				width: 300px;
				padding: 10px;
			}
		</style>
	</body>
</html>
